In [31]:
import pandas as pd

In [32]:
Data_File = pd.read_csv('Churn_Data_T1.csv')

In [33]:
Data_File = pd.get_dummies(Data_File)

In [34]:
Data_File.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27000 entries, 0 to 26999
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   churn                      27000 non-null  int64
 1   age                        27000 non-null  float64
 2   credit_score               27000 non-null  float64
 3   deposits                   27000 non-null  int64
 4   withdrawal                 27000 non-null  int64
 5   purchases_partners         27000 non-null  int64
 6   purchases                  27000 non-null  int64
 7   cc_taken                   27000 non-null  int64
 8   web_user                   27000 non-null  int64
 9   app_web_user               27000 non-null  int64
 10  ios_user                   27000 non-null  int64
 11  registered_phones          27000 non-null  int64
 12  cancelled_loan             27000 non-null  int64
 13  received_loan              27000 non-null  int64
 14  rejected_loan              27000 non-null  int64
 15  left_for_two_month_plus    27000 non-null  int64
 16  left_for_one_month         27000 non-null  int64
 17  reward_rate                27000 non-null  float64
 18  housing_O                  27000 non-null  uint8
 19  housing_R                  27000 non-null  uint8
 20  housing_na                 27000 non-null  uint8
 21  payment_type_Bi-Weekly     27000 non-null  uint8
 22  payment_type_Monthly       27000 non-null  uint8
 23  payment_type_Semi-Monthly  27000 non-null  uint8
 24  payment_type_Weekly        27000 non-null  uint8
 25  payment_type_na            27000 non-null  uint8
dtypes: float64(3), int64(15), uint8(8)
memory usage: 3.9 MB

In [35]:
Data_File.to_csv('churn_Data_T2.csv', index=False)